<!--  *********************** first page ***********************  -->
<div class="about-page-one">
  <div class="about-page-one-bg" id="aboutpageonebg"></div>
  <div>
    <%= link_to "=> back", root_path, id: "about-logo" %>
  </div>
  <div>
    <nav class="about-up-nav">
      <ul class="about-nav-ul">
        <li class="about-nav-li"><%= link_to 'notes', notes_path, class: "nav-link" %></li>
        <li class="about-nav-li"><%= link_to 'essay', essay_path, class: "nav-link" %></li>
        <li class="about-nav-li"><%= link_to 'design', design_path, class: "nav-link" %></li>
        <li class="about-nav-li"><%= link_to 'life', life_path, class: "nav-link" %></li>
        <li class="about-nav-li"><%= link_to 'about', about_path, class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
  <div class="about-page-one-title">
    <p>Dont't worry,be happy</p>    
  </div>
  <div class="about-page-one-text">
    <p class="about-page-one-text-p">
      May you do good and not evil.<br/>
      May you find forgiveness for yourself and forgive others.<br/>
      May you share freely, never taking more than you give.
    </p>
  </div>
</div>  


